.custom-table tr {
    display: table;
    width: 100%;
    table-layout: fixed;
    border-bottom: 3px solid #0052B4;
}

.custom-table tr td {
    text-align: center;
    vertical-align: middle;
    color: #0052B4;
    border-left: 3px solid #0052B4;
    border-right: 3px solid #0052B4;
}

.technicalAndButton {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.technicalAndButton h1 {
    margin: 0;
    line-height: 1;
    width: 90%;
    font-size: 16px;
}

.technicalAndButton button {
    width: 10%;
    height: 21px;
    font-size: 10px;
    border: 2px solid #0052B4;
    color: #0052B4;
    background: transparent;
}

.technicalAndButton button:hover {
    background: #0052B4;
    color: white;
    font-weight: bold;
}

.dropdown-menu {
    border-radius: 15px;
    border: 2px solid #0052B4;
    text-align: center;
    list-style: none;
}

.dropdown-toggle::after {
    display: none !important;
}

.active {
    background: #0052B4 !important;
    border: solid transparent;
    border-radius: 15px;
}

.dropdown-item:active {
    color: white !important;
    background: #0052B4 !important;
    border-radius: 15px;
}