.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-height: 80vh;
    height: 100%;
}

.containerSignUp {
    display: flex;
    flex-direction: column;
}

.containerSignUp h1 {
    color: #0052B4;
    font-family: sans-serif;
    margin-bottom: 25px;
    font-weight: bold;
    text-align: center;
}

.containerSignUp form {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.required {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

.required input {
    border-radius: 20px;
    border: 2.7px solid #0052B4;
    width: 50vh;
    padding-right: 8px;
    padding-left: 4px;
    padding-top: 7px;
    padding-bottom: 7px;
}

.submitButtons input {
    background: #0052B4;
    border-radius: 20px;
    max-width: 17vh;
    width: 100%;
    color: white;
    font-size: 20px;
    cursor: pointer;
    border: 2.7px solid transparent;
    gap: 10px;
    padding: 10px;
    text-align: center;
    transition: all 0.2s;
}

.submitButtons input:hover {
    background: #003b83;
}

.submitButtons {
    display: flex;
    justify-content: center;
    gap: 15px;
}

.containerSignUp form input::placeholder {
    color: #0052B4;
    font-weight: bolder;
    text-align: left;
    font-size: 15px;
}

.terms {
    display: flex;
    justify-items: center;
    gap: 5px;
}

.terms label {
    font-family: sans-serif;
    color: #0052B4;
    font-size: 14px;
    font-weight: lighter;
}

.terms input {
    accent-color: #0052B4;
}